.column-wrapper {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.center-container {
  height: 200px;
  position: relative;
  justify-content: center;
  display: flex;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}